/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body {
  font-family: "Figtree", sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  min-width: 320px;
  position: relative;
  background: whitesmoke;
  max-width: 3000px;
  margin: auto;
  color: #383838; }

header, section, footer {
  margin: auto; }

a {
  text-decoration: none; }
  a:focus {
    outline: none !important; }

a:hover, a:focus, a:active {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, button {
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

figure {
  margin: 0; }
  figure img {
    width: auto;
    max-width: 100%;
    vertical-align: top; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

p, a {
  color: #383838;
  margin: 0; }

input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important; }

.content-width {
  width: 1200px;
  margin: auto; }

h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0;
  text-transform: capitalize;
  margin: 0 0 20px; }

h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
  margin: 0 0 15px;
  color: #3a3a3a; }

h3 {
  color: #3a3a3a;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
  margin: 0 0 10px; }

h4 {
  color: #3a3a3a;
  margin: 0 0 15px;
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0;
  text-align: left; }

h5 {
  color: #3a3a3a;
  margin: 0 0 10px; }

h6 {
  margin: 0 0 10px; }

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

input, textarea, button {
  outline: none !important; }

/*------------------------------PAGE-HOME-----------------------------*/
header {
  position: relative;
  z-index: 999;
  background: #fff; }

.top-line {
  background: #fff;
  padding: 17px 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }
  .top-line .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .top-line .logo-wrap {
    width: 184px;
    position: relative;
    top: 3px; }
    .top-line .logo-wrap img {
      width: 100%;
      vertical-align: top; }
  .top-line .top-menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(100% - 380px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .top-line .top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 41px; }
    .top-line .top-menu a {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0;
      text-align: left;
      text-transform: capitalize;
      display: inline-block;
      position: relative; }
      .top-line .top-menu a:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #2d5632;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: left;
                transform-origin: left; }
      .top-line .top-menu a:hover:after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1); }
    .top-line .top-menu li:first-child a {
      color: #383838;
      font-weight: 600; }
    .top-line .top-menu .current a {
      font-weight: 500; }
      .top-line .top-menu .current a:after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1); }

.btn-default {
  border-radius: 8px;
  background: #2d5632;
  text-align: center;
  padding: 0 22px;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #fff; }
  .btn-default:hover {
    background: #539136; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.bg + * {
  position: relative;
  z-index: 3; }

.home-banner {
  position: relative;
  z-index: 1; }

.home-slider .swiper-slide {
  position: relative; }
.home-slider .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }
.home-slider .wrap {
  text-align: center;
  width: 865px;
  margin: auto;
  max-width: 100%;
  padding: 175px 0 390px; }
.home-slider .label {
  color: #fff;
  margin-bottom: 19px; }
.home-slider h1, .home-slider h2 {
  color: white;
  font-size: 55px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px; }
.home-slider p {
  width: 590px;
  color: #fff;
  max-width: 100%;
  margin: 0 auto 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center; }
.home-slider .btn-wrap {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.home-slider .swiper-pagination {
  bottom: 175px; }

.label {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase; }

.btn-arrow {
  background: #fff !important;
  color: #2d5632;
  height: 56px;
  line-height: 56px;
  padding: 0 30px; }
  .btn-arrow i {
    margin-left: 10px;
    position: relative;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    left: 0; }
  .btn-arrow:hover i {
    left: 2px; }

.swiper-pagination .swiper-pagination-bullet {
  margin: 0 10px !important;
  width: 6px;
  height: 6px;
  opacity: 1 !important;
  background: #fff;
  position: relative; }
  .swiper-pagination .swiper-pagination-bullet:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0; }
.swiper-pagination .swiper-pagination-bullet-active:after {
  opacity: 1; }

.text-item-4x {
  margin-top: -140px;
  position: relative;
  z-index: 5; }
  .text-item-4x .content {
    padding: 55px 100px 55px 83px;
    background: #fff;
    border-radius: 55px 0px 55px 55px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(32, 54, 62, 0.08);
            box-shadow: 0px 0px 14px 0px rgba(32, 54, 62, 0.08);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .text-item-4x .title {
    width: 365px; }
    .text-item-4x .title p {
      margin-bottom: 20px; }
  .text-item-4x .wrap {
    width: calc(100% - 530px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 25px; }
  .text-item-4x .item {
    width: calc(50% - 13px);
    padding: 23px 20px;
    border-radius: 0px  50px 0 0px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
    background: white;
    text-align: center; }
    .text-item-4x .item figure {
      height: 45px;
      margin-bottom: 22px;
      text-align: center; }
    .text-item-4x .item .text p {
      text-align: center;
      color: #181818;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      margin: 0; }
  .text-item-4x .item:nth-child(2) {
    border-radius: 50px 0px 0px 0px; }
  .text-item-4x .item:nth-child(3) {
    border-radius: 0px 0px 50px 0px; }
  .text-item-4x .item:nth-child(4) {
    border-radius: 0px 0px 0px 50px; }

.btn-arrow-green {
  background: #2d5632 !important;
  color: #fff; }

.label-line {
  margin-bottom: 16px;
  color: #181818;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  position: relative;
  padding-left: 50px; }
  .label-line:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: 30px;
    height: 2px;
    margin-top: -1px;
    background: #68bd45; }

.text-img {
  padding: 92px 0 105px; }
  .text-img .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .text-img .content-width > figure {
      width: 450px; }
      .text-img .content-width > figure img {
        width: 100%;
        border-radius: 0px 50px 50px 50px;
        -webkit-box-shadow: 0px 0px 23px 0px rgba(21, 57, 25, 0.2);
                box-shadow: 0px 0px 23px 0px rgba(21, 57, 25, 0.2);
        height: auto; }
  .text-img .text {
    width: calc(100% - 515px); }
    .text-img .text .wrap {
      margin-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      grid-gap: 30px; }
  .text-img .item {
    width: calc(50% - 15px);
    border-radius: 0px 0px 50px 0px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(8, 14, 9, 0.05);
            box-shadow: 0px 0px 15px 0px rgba(8, 14, 9, 0.05);
    background: white;
    padding: 20px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .text-img .item figure {
      width: 60px; }
    .text-img .item .text-wrap {
      width: calc(100% - 80px); }
    .text-img .item h6 {
      color: #181818;
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 9px; }
    .text-img .item p {
      line-height: 26px;
      margin-bottom: 0; }
  .text-img .item:nth-child(4) {
    border-radius: 50px 0px 0px 0px; }
  .text-img .item:nth-child(3) {
    border-radius: 0px  50px 0px 0px; }
  .text-img .item:nth-child(2) {
    border-radius: 0px 0px 0px 50px; }
  .text-img h2 {
    margin-bottom: 15px; }

.faq {
  position: relative;
  padding: 100px 0 85px;
  background: #fff; }
  .faq .bg img {
    position: absolute;
    top: -95px;
    right: 0; }
  .faq .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .faq figure {
    width: 43%;
    margin-top: -20px; }
    .faq figure img {
      width: 100%;
      border-radius: 30px 30px 0px 30px; }
  .faq .text {
    width: 48%;
    padding-right: 7%; }
  .faq .label-line {
    margin-bottom: 15px; }
  .faq h2 {
    margin-bottom: 15px; }
  .faq h5 {
    color: #181818;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 15px; }
  .faq p {
    margin-bottom: 26px; }
  .faq .accordion-thumb {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.11);
            box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.11);
    background: white;
    padding: 5px 45px 5px 20px;
    position: relative;
    min-height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .faq .accordion-thumb p {
      margin: 0 !important;
      color: #181818;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0;
      text-align: left; }
    .faq .accordion-thumb i {
      position: absolute;
      font-size: 16px;
      line-height: 1;
      right: 25px;
      top: 50%;
      margin-top: -10px;
      color: #000;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
  .faq .accordion-panel {
    display: none; }
    .faq .accordion-panel .wrap {
      margin-top: 10px;
      padding: 20px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.11);
              box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.11);
      background: white; }
      .faq .accordion-panel .wrap p {
        margin-bottom: 10px; }
      .faq .accordion-panel .wrap p:last-child {
        margin-bottom: 0; }
  .faq .accordion-item {
    margin-bottom: 15px; }
  .faq .is-active .accordion-thumb i {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .faq .btn-wrap {
    margin-top: 33px; }

.map-block {
  padding: 60px 0 80px; }
  .map-block .title {
    width: 445px;
    max-width: 100%;
    margin: 0 auto -25px;
    text-align: center; }
  .map-block h2 {
    text-align: center; }
  .map-block .map-wrap {
    margin-bottom: 40px;
    padding: 0 20px; }
    .map-block .map-wrap img {
      width: 100%;
      vertical-align: top; }
  .map-block .info-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 15px 85px;
    padding: 0 0 0 50px; }
    .map-block .info-line p {
      color: black;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0;
      text-align: left;
      text-transform: capitalize;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .map-block .info-line p span {
        background: #2d5632;
        width: 90px;
        height: 20px;
        display: inline-block;
        margin-right: 20px; }
    .map-block .info-line .item-2 span {
      background: #6cbe46; }

.img-text {
  background: #fff;
  padding: 80px 0 50px;
  overflow: hidden; }
  .img-text h2 {
    margin-bottom: 0; }
  .img-text .line {
    padding: 38px 0;
    position: relative;
    margin-bottom: 65px; }
    .img-text .line .wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-right: 5%; }
    .img-text .line .bg {
      overflow: visible; }
      .img-text .line .bg:after {
        position: absolute;
        left: 35%;
        right: -5000px;
        content: '';
        top: 0;
        bottom: 0;
        background: #f4f6f8;
        border-radius: 0 0 0 100px;
        display: block; }
    .img-text .line figure {
      width: 550px; }
      .img-text .line figure img {
        width: 100%;
        border-radius: 50px 50px 0px 50px; }
    .img-text .line .text {
      width: calc(100% - 632px);
      padding-top: 30px; }
      .img-text .line .text p {
        margin-bottom: 20px; }
      .img-text .line .text p:last-child {
        margin-bottom: 0; }
    .img-text .line .btn-wrap {
      margin-top: 30px; }
  .img-text .line-revers .bg:after {
    left: -5000px;
    right: 35%;
    border-radius: 0 0 100px 0; }
  .img-text .line-revers .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 3.5% 0 3.8%; }
  .img-text .line-revers .text {
    width: calc(100% - 640px); }
  .img-text .line:last-child {
    margin-bottom: 0; }

.btn-green {
  height: 56px;
  line-height: 56px;
  background: #2d5632;
  padding: 0 30px; }
  .btn-green:hover {
    background: #19321d; }

.btn-white {
  height: 56px;
  line-height: 56px;
  background: #fff;
  padding: 0 30px;
  color: #2d2d2d; }
  .btn-white:hover {
    background: #d6d6d6; }

.btn-52 {
  height: 52px;
  line-height: 52px; }

.logo-block {
  padding: 40px 0 90px;
  background: #fff; }
  .logo-block h4 {
    color: #181818;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 45px; }
  .logo-block .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 52px 65px; }
  .logo-block figure {
    width: 115px;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.pre-footer {
  padding: 94px 0 100px;
  position: relative; }
  .pre-footer .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .pre-footer .bg:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: #2d5632;
    opacity: 0.9; }
  .pre-footer .content {
    max-width: 100%;
    width: 495px;
    text-align: center;
    margin: auto; }
  .pre-footer h2 {
    color: #fff;
    margin-bottom: 35px;
    text-align: center;
    text-transform: capitalize; }
  .pre-footer .btn-wrap a {
    min-width: 222px; }

footer {
  padding: 50px 0 50px;
  background: #20363e; }
  footer .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  footer .logo-wrap {
    width: 250px;
    padding-top: 5px; }
    footer .logo-wrap .logo {
      margin-bottom: 20px; }
      footer .logo-wrap .logo img {
        vertical-align: top; }
    footer .logo-wrap ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      grid-gap: 15px; }
      footer .logo-wrap ul img {
        vertical-align: top; }
  footer .footer-menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc(100% - 315px); }
    footer .footer-menu-wrap .item {
      width: 170px; }
      footer .footer-menu-wrap .item ul li {
        margin-bottom: 10px; }
        footer .footer-menu-wrap .item ul li a {
          color: white;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0;
          text-align: left;
          text-transform: capitalize; }
          footer .footer-menu-wrap .item ul li a:hover {
            opacity: 0.7; }
      footer .footer-menu-wrap .item h6 {
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0;
        text-align: left;
        margin-bottom: 10px; }
      footer .footer-menu-wrap .item .soc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        grid-gap: 12px; }
        footer .footer-menu-wrap .item .soc li {
          margin: 0; }
          footer .footer-menu-wrap .item .soc li a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            border-radius: 100%;
            border: 1px solid #2d5632;
            width: 28px;
            height: 28px;
            color: #fff;
            font-size: 16px; }
    footer .footer-menu-wrap .item-4 {
      width: 195px; }
    footer .footer-menu-wrap .item-2 {
      position: relative;
      left: -27px; }

.open-menu {
  display: none;
  width: 30px;
  height: 30px; }
  .open-menu img {
    vertical-align: top; }

.is-menu {
  overflow: hidden; }

.btn-wrap-mobile {
  width: 100%;
  margin-top: 20px;
  display: none; }

figure .img-mob {
  display: none; }

.logo-block .slider-wrap {
  display: none; }

.play-market {
  display: none; }

/*-----------------------------END-PAGE-HOME-----------------------------*/
/*------------------------------PAGE-SOLUTIONS-----------------------------*/
.page-banner {
  position: relative;
  padding: 100px 0 155px;
  min-height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .page-banner .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .page-banner .content {
    width: 770px;
    max-width: 100%;
    margin: auto; }
  .page-banner h1 {
    text-align: center;
    margin-bottom: 0;
    color: #fff; }

.img-text {
  position: relative; }
  .img-text .bg img {
    position: absolute;
    top: 5px;
    right: 0; }

.tabs-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  border: 1px solid #ebebeb;
  border-radius: 50px;
  padding: 15px;
  margin: -40px 0 40px; }
  .tabs-menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 0 58px;
    border-radius: 25px; }
    .tabs-menu li a span {
      display: inline-block;
      position: relative; }
      .tabs-menu li a span:after {
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        content: '';
        height: 1px;
        background: #3a3a3a;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: left;
                transform-origin: left;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
    .tabs-menu li a:hover span:after {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
  .tabs-menu .is-active a {
    background: #2d5632;
    color: #fff; }
    .tabs-menu .is-active a span:after {
      display: none; }

.page-img-text {
  padding-bottom: 85px; }
  .page-img-text .line-revers .wrap {
    padding: 0; }
  .page-img-text .line figure {
    width: 525px; }
    .page-img-text .line figure img {
      border-radius: 30px 0px 30px 30px; }
  .page-img-text .line .text {
    padding: 0;
    width: calc(100% - 615px); }
    .page-img-text .line .text h2 {
      margin-bottom: 15px; }
    .page-img-text .line .text p {
      margin-bottom: 15px; }
    .page-img-text .line .text ul {
      padding-left: 20px;
      margin-bottom: 35px; }
      .page-img-text .line .text ul li {
        position: relative;
        padding-left: 40px;
        color: #181818;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 15px; }
        .page-img-text .line .text ul li:before {
          position: absolute;
          top: 50%;
          margin-top: -12px;
          left: 1px;
          content: '';
          width: 25px;
          height: 25px;
          background: url("../img/icon-6.svg") no-repeat center;
          background-size: contain; }
      .page-img-text .line .text ul li:last-child {
        margin-bottom: 0; }
  .page-img-text .line-revers figure {
    width: 585px; }
    .page-img-text .line-revers figure img {
      border-radius: 30px 30px 30px 0px; }
  .page-img-text .line-revers .text {
    width: calc(100% - 635px); }

.blog {
  position: relative;
  padding: 70px 0 30px; }
  .blog .bg img {
    position: absolute;
    top: 100px;
    left: 0; }
  .blog .title {
    margin-bottom: 30px; }
    .blog .title h2 {
      margin-bottom: 0; }
  .blog .nav-wrap {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    padding: 0 10px; }
    .blog .nav-wrap > div {
      position: relative;
      margin: 0;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      -webkit-transform: none;
              transform: none;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .blog .nav-wrap > div:after {
        display: none; }
    .blog .nav-wrap .btn img {
      vertical-align: top; }
    .blog .nav-wrap .blog-prev img {
      -webkit-transform: scale(-1, 1);
              transform: scale(-1, 1); }
  .blog .swiper-pagination .swiper-pagination-bullet {
    background: #d9d9d9;
    margin: 0 5px !important;
    width: 8px;
    height: 8px; }
  .blog .swiper-pagination .swiper-pagination-bullet-active {
    background: #2d5632; }
    .blog .swiper-pagination .swiper-pagination-bullet-active:after {
      display: none; }

.blog-slider .swiper-slide {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
  background: white;
  padding: 20px 22px 25px; }
  .blog-slider .swiper-slide figure {
    height: 220px;
    margin-bottom: 30px;
    overflow: hidden; }
    .blog-slider .swiper-slide figure img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
    .blog-slider .swiper-slide figure:hover img {
      -webkit-transform: scale(1.02);
              transform: scale(1.02); }
  .blog-slider .swiper-slide h6 {
    margin-bottom: 15px; }
    .blog-slider .swiper-slide h6 a {
      color: #3a3a3a;
      display: block;
      font-size: 22px;
      font-weight: 700;
      line-height: 32px; }
      .blog-slider .swiper-slide h6 a:hover {
        opacity: 0.7; }
  .blog-slider .swiper-slide .wrap {
    height: 84px;
    overflow: hidden; }
  .blog-slider .swiper-slide .link-wrap {
    margin-top: 19px; }
    .blog-slider .swiper-slide .link-wrap a {
      color: #2d5632;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      text-transform: capitalize; }
      .blog-slider .swiper-slide .link-wrap a i {
        margin-left: 10px;
        position: relative;
        left: 0;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
      .blog-slider .swiper-slide .link-wrap a:hover {
        left: 2px; }

.blog + .logo-block {
  padding: 80px 0 80px; }

.pre-footer-solutions {
  padding: 68px 0 70px; }
  .pre-footer-solutions .btn-wrap a {
    min-width: 163px; }
  .pre-footer-solutions h2 {
    margin-bottom: 30px; }

.popup-blog {
  background: white;
  padding: 55px 60px;
  width: 1200px;
  max-width: 99%; }
  .popup-blog .floatleft {
    float: left;
    width: 330px;
    border-radius: 5px;
    margin: 0 30px 15px 0; }
  .popup-blog p {
    margin-bottom: 15px; }
  .popup-blog ul {
    padding-left: 15px; }
    .popup-blog ul li {
      list-style: disc; }
  .popup-blog .nav-wrap {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    padding: 0 10px; }
    .popup-blog .nav-wrap > div {
      position: relative;
      margin: 0;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      -webkit-transform: none;
              transform: none;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .popup-blog .nav-wrap > div:after {
        display: none; }
    .popup-blog .nav-wrap .btn img {
      vertical-align: top; }
    .popup-blog .nav-wrap .text-prev img {
      -webkit-transform: scale(-1, 1);
              transform: scale(-1, 1); }
  .popup-blog .swiper-pagination .swiper-pagination-bullet {
    background: #d9d9d9;
    margin: 0 5px !important;
    width: 8px;
    height: 8px; }
  .popup-blog .swiper-pagination .swiper-pagination-bullet-active {
    background: #2d5632; }
    .popup-blog .swiper-pagination .swiper-pagination-bullet-active:after {
      display: none; }
  .popup-blog .fancybox-close-small {
    color: #000;
    top: 5px;
    right: 5px;
    padding: 5px; }

.img-text .select-block {
  display: none; }

.is-sticky .top-line {
  padding: 10px 0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(74, 74, 74, 0.08);
          box-shadow: 0px 3px 5px 0px rgba(74, 74, 74, 0.08); }

.is-menu header {
  z-index: 999999999; }
.is-menu .top-line {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(74, 74, 74, 0.08);
          box-shadow: 0px 3px 5px 0px rgba(74, 74, 74, 0.08); }
.is-menu .open-menu img {
  opacity: 0; }
.is-menu .open-menu a:after {
  opacity: 1; }

.open-menu img {
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

.open-menu a {
  position: relative; }
  .open-menu a:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    content: '';
    width: 30px;
    height: 30px;
    background: url("../img/close.svg") no-repeat center;
    background-size: contain;
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }

.nice-select .option.selected {
  display: none; }

.page-img-text .line .text .img-wrap {
  display: none; }
  .page-img-text .line .text .img-wrap img {
    vertical-align: top; }

.page-img-text .line .text ul:last-child {
  margin-bottom: 0; }

.blog .swiper-pagination .swiper-pagination-bullet:first-child {
  margin-left: 0 !important; }

/*-----------------------------END-PAGE-SOLUTIONS-----------------------------*/
/*------------------------------PAGE-DRIVERS-----------------------------*/
.drivers-banner {
  padding-top: 78px; }
  .drivers-banner h1 {
    margin-bottom: 30px; }
  .drivers-banner .btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .drivers-banner .btn-wrap a {
      padding: 0 40px; }

.contact-info {
  position: relative;
  z-index: 5;
  margin-top: -128px; }
  .contact-info .content {
    border-radius: 40px 0px 40px 40px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(32, 54, 62, 0.08);
            box-shadow: 0px 0px 14px 0px rgba(32, 54, 62, 0.08);
    background: white;
    padding: 50px 63px 50px;
    text-align: center; }
  .contact-info h4 {
    margin-bottom: 15px;
    text-align: center;
    line-height: 32px;
    text-transform: capitalize; }
  .contact-info p {
    margin: auto;
    width: 700px;
    max-width: 100%; }
  .contact-info ul {
    margin-top: 30px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 25px; }
    .contact-info ul li {
      width: calc(33.33% - 17px); }
      .contact-info ul li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border: 1px solid #dfdfdf;
        border-radius: 20px 0px 20px 20px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
        background: white;
        padding: 19px 25px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        color: #3a3a3a;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0;
        text-align: left;
        text-transform: capitalize; }
        .contact-info ul li a .icon {
          border-radius: 8px;
          background: #2d5632;
          width: 46px;
          height: 46px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .contact-info ul li a .icon img {
            vertical-align: top; }
        .contact-info ul li a:hover {
          background: #dfdfdf; }

.item-3x {
  position: relative;
  padding: 62px 0 70px; }
  .item-3x .bg img {
    position: absolute;
    top: 0;
    right: 0; }
  .item-3x .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 30px 100px;
    margin-top: 50px; }
  .item-3x .item {
    position: relative;
    width: calc(33.33% - 67px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
    .item-3x .item h6 {
      background: whitesmoke;
      color: #383838;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 15px;
      padding: 0 15px 0 8px;
      display: inline-block; }
    .item-3x .item p {
      margin-bottom: 25px; }
    .item-3x .item figure {
      margin-bottom: 20px; }
      .item-3x .item figure img {
        width: 100%;
        height: auto; }
    .item-3x .item .wrap {
      position: relative;
      z-index: 3; }
  .item-3x .item-1 .after {
    position: absolute;
    top: 14px;
    right: -50px;
    width: 90%;
    height: 100px;
    display: inline-block;
    border-radius: 0 25px 0 0;
    border-top: 1px dashed #2d5632;
    border-right: 1px dashed #2d5632; }
  .item-3x .item-2 {
    margin-top: 10px;
    z-index: 3; }
    .item-3x .item-2 .after {
      position: absolute;
      top: 95px;
      right: -50px;
      left: -52px;
      bottom: -35px;
      display: inline-block;
      border-radius: 0 0 25px 25px;
      border-left: 1px dashed #2d5632;
      border-right: 1px dashed #2d5632;
      border-bottom: 1px dashed #2d5632; }
  .item-3x .item-3 .after {
    position: absolute;
    top: -42px;
    right: -40px;
    left: -52px;
    bottom: 269px;
    display: inline-block;
    border-radius: 25px;
    border: 1px dashed #2d5632; }
    .item-3x .item-3 .after:after {
      left: -45px;
      width: 100px;
      position: absolute;
      top: 146px;
      content: '';
      background: whitesmoke;
      display: block;
      bottom: -22px; }

.map-bg {
  position: relative;
  padding: 103px 0 90px;
  background: #244347;
  overflow: hidden; }
  .map-bg .bg .img-2 {
    position: absolute;
    top: 0;
    right: 0; }
  .map-bg .bg .img-1 {
    position: absolute;
    bottom: 0;
    left: 0; }
  .map-bg .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 4.5%; }
  .map-bg figure {
    width: 50%;
    position: relative; }
    .map-bg figure img {
      position: absolute;
      top: -103px;
      left: -75px;
      max-width: 1000%; }
  .map-bg .text {
    position: relative;
    z-index: 3;
    width: 375px; }
  .map-bg h2 {
    color: #fff;
    margin-bottom: 19px; }
  .map-bg p {
    margin-bottom: 29px;
    color: #fff; }
  .map-bg .btn-wrap a {
    min-width: 165px; }

.faq-tabs {
  padding: 80px 0 88px;
  background: #fff; }
  .faq-tabs .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .faq-tabs .left {
    width: 360px; }
  .faq-tabs .right {
    width: calc(100% - 457px);
    padding-top: 35px; }
  .faq-tabs .tabs-menu {
    display: block;
    margin: 30px 0 0;
    border-radius: 8px;
    overflow: hidden;
    background: #f4f6f8;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0; }
    .faq-tabs .tabs-menu li {
      width: 100%;
      cursor: pointer;
      padding: 16px 15px 15px 20px;
      border-bottom: 1px solid white;
      position: relative;
      color: #181818;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      height: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
      .faq-tabs .tabs-menu li:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        bottom: 0;
        content: '';
        background: #6cbe46;
        opacity: 0;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
    .faq-tabs .tabs-menu li:last-child {
      border-bottom: 0; }
    .faq-tabs .tabs-menu .is-active {
      font-weight: 700;
      padding-left: 30px; }
      .faq-tabs .tabs-menu .is-active:before {
        opacity: 1; }
  .faq-tabs .accordion-item {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 13px; }
    .faq-tabs .accordion-item:after {
      position: absolute;
      right: 13px;
      top: 50%;
      content: '\f078';
      font-family: "Font Awesome 6 Pro";
      font-size: 16px;
      line-height: 1;
      -webkit-transform: translate(0, -50%) rotate(-90deg);
              transform: translate(0, -50%) rotate(-90deg);
      color: #000;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
  .faq-tabs .is-active:after {
    -webkit-transform: translate(0, -50%) rotate(0);
            transform: translate(0, -50%) rotate(0); }
  .faq-tabs .accordion-thumb {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 50px;
    cursor: pointer; }
    .faq-tabs .accordion-thumb p {
      color: #181818;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      margin: 0; }
  .faq-tabs .accordion-panel {
    display: none; }
    .faq-tabs .accordion-panel .wrap {
      margin-top: 0;
      padding: 0 110px 20px 0; }
  .faq-tabs .link-wrap {
    margin-top: 19px; }
    .faq-tabs .link-wrap a {
      color: #2d5632;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      text-transform: capitalize; }
      .faq-tabs .link-wrap a i {
        margin-left: 10px;
        position: relative;
        left: 0;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
      .faq-tabs .link-wrap a:hover {
        left: 2px; }
  .faq-tabs .accordion {
    margin-bottom: 30px; }

.download {
  padding: 57px 0 97px; }
  .download .content {
    width: 575px;
    max-width: 100%;
    margin: auto; }
  .download h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px; }
  .download p {
    text-align: center;
    margin-bottom: 28px; }
  .download ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 20px; }
    .download ul img {
      vertical-align: top; }

.item-3x .item-1 .after {
  height: 93px; }

.tabs-menu-mob {
  display: none; }

.item-3x .item figure img {
  border-radius: 20px; }

.map-bg .img-3 {
  display: none; }

.map-bg figure .mob {
  display: none; }

.map-block .map-wrap svg {
  width: 100%;
  height: auto; }
  .map-block .map-wrap svg path:hover {
    fill: rgba(0, 0, 0, 0.5); }

/*-----------------------------END-PAGE-DRIVERS-----------------------------*/
/*------------------------------PAGE-SERVICE-----------------------------*/
.service-banner {
  padding-bottom: 130px; }
  .service-banner p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 590px;
    max-width: 100%;
    margin: 20px auto 0; }

.service {
  padding: 60px 0 30px;
  background: #fff;
  position: relative; }
  .service h2 {
    margin-bottom: 0; }
  .service .title {
    margin-bottom: 10px; }
  .service .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 1px solid #e9e9e9;
    padding: 30px 0;
    margin-bottom: -1px; }
  .service .item-title {
    width: 300px; }
    .service .item-title h4 {
      margin: 0;
      color: #3a3a3a;
      font-size: 26px;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: 0;
      text-align: left;
      text-transform: capitalize; }
  .service .text {
    width: calc(100% - 407px); }
    .service .text p {
      margin-bottom: 15px;
      color: #383838; }
    .service .text p:last-child {
      margin-bottom: 0; }
  .service .bg {
    bottom: -100px; }
    .service .bg .img-1 {
      position: absolute;
      top: -250px;
      right: 0; }
    .service .bg .img-2 {
      position: absolute;
      bottom: 0;
      left: 0; }
  .service .btn-wrap {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.equipment {
  padding: 49px 0 127px;
  background: #fff; }
  .equipment .title {
    width: 50%; }
  .equipment .tabs {
    margin-top: -70px; }
  .equipment .tabs-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    padding: 0;
    border: none;
    margin: 0;
    height: 72px; }
    .equipment .tabs-menu li {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      color: #3a3a3a;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0;
      text-align: center;
      text-transform: capitalize;
      cursor: pointer;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      border-radius: 8px 8px 0px 0px;
      height: 72px;
      white-space: nowrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 35px; }
    .equipment .tabs-menu .is-active {
      background: whitesmoke;
      font-weight: 700; }
  .equipment .tab-item {
    border-radius: 55px 0px 55px 55px;
    background: whitesmoke;
    padding: 85px 71px 60px; }
    .equipment .tab-item .wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .equipment .tab-item .text {
      width: 49%; }
      .equipment .tab-item .text p {
        margin-bottom: 22px; }
      .equipment .tab-item .text ul {
        padding-left: 20px;
        margin-bottom: 0; }
        .equipment .tab-item .text ul li {
          position: relative;
          padding-left: 40px;
          color: #181818;
          font-size: 18px;
          font-weight: 700;
          line-height: 28px;
          margin-bottom: 15px; }
          .equipment .tab-item .text ul li:before {
            position: absolute;
            top: 50%;
            margin-top: -12px;
            left: 1px;
            content: '';
            width: 25px;
            height: 25px;
            background: url("../img/icon-6.svg") no-repeat center;
            background-size: contain; }
        .equipment .tab-item .text ul li:last-child {
          margin-bottom: 0; }
    .equipment .tab-item figure {
      width: 42%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: -30px; }
  .equipment h3 {
    margin-bottom: 25px; }

.faq-tabs .accordion-thumb {
  position: relative;
  z-index: 2; }

/*----------------------------END--PAGE-SERVICE-----------------------------*/
/*----------------------------PAGE-PARTNERS-----------------------------*/
.partner-banner {
  padding-bottom: 92px; }
  .partner-banner .btn-wrap {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

/*---------------------------END-PAGE-PARTNERS-----------------------------*/
/*# sourceMappingURL=styles.css.map */